*{
    
    /* -webkit-box-sizing: border-box; */
       /* -moz-box-sizing: border-box; */
            box-sizing: border-box;
    /* 網站使用色號 */
    background-color: #0F4C81 #658DC6 #B5C7D3 #84898C;
    background-color: #A58D7F #F5B895 #F3D5AD;
    font-family: Roboto,sans-serif;
}

.hint{
    color: #a7a8a8;
    font-size: 12px;
}
/* 單一事件控制面板 */
.info i{
    cursor: pointer;
}
textarea {
    color:#e8e8e8;
    resize:none; 
    background-color: transparent;
}
.bt_moreInfo_board{
    background-color: #1F1F1F;
    box-shadow: 0px 10px 35px #131313da;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    /* height: 200px; */
    color: #e8e8e8;
    /* display: none; */
    
}
.infoflex{
    display: flex;
    justify-content: space-between;
}
.info_titleInput{
    line-height: 2.5rem;
    /* background-color: #F3D5AD; */
    /* outline: none; */
    /* border: 0px; */
    font-size: 2rem;
}
.info{
    margin-top: 10px;
}
/* ------ */
/* 小日曆 */
*{
    /* border: solid 1px rgb(114, 112, 112); */
}
/* 改變月 */
.calenBoard button{
    border: 0;
    background-color: #424242;
    color: #ffffff;
    height: 36px;
    width: 86px;
    padding: 0 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease;
    letter-spacing: 1px;
}
.calenBoard button:hover{
    background-color: rgba(104, 102, 102, 0.815);
    /* opacity: .2; */
    color: #ffffff;
}
.showCalenM{
    position: absolute;
    top:170px;
    left: 40%;
    z-index: 999;
    
    box-shadow: 0px 0px 10px #181818;
    border-radius: 10px;
}
@media(max-width:500px){
    .showCalenM{
        position: absolute;
        z-index: 999;
        top:150px;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* ----- */
.calentype{
    border-radius: 10px;
    overflow: hidden;

}
.data-calentype{
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
.data-calentype:hover{
    background-color: rgb(54, 53, 53)
}
table{
    width:100%
}
.changeCalen{
    display: flex;
}
.changeCalen div{
    background-color: rgb(82, 80, 80);
    border: solid 1px black;
    width: 33.333%;
    text-align: center;
}

.calenMonth td{
    width: 33.33333333%;
    height: 56px;
    vertical-align: middle;
    text-align: center;
}
.calenTitle{
    letter-spacing: 1px;
    display: flex;
    width: 290px;
    padding: 4px 16px;
    justify-content: space-between;
    background-color: #1F1F1F;
    line-height: 50px;
}
.calenBoard{
    
    background-color: #424242;
    width: 290px;
    padding: 0 12px;
    height: 242px;
}
.calenBoard td{
    width: 45px;
    text-align: center;
}

thead th{
    line-height: 1.5rem;
    padding: 8px 0;
    font-weight: 600;
}
/* ------------------------ */


body{
    margin: 0;
}
/* 上方 header */
header{
    position: relative;
    background-color: #272727;
    height: 48px;
    line-height: 48px;
    font-size: 25px;
    color: #e8e8e8;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 5px #181818;
}
.icon_hover_span{
    text-align: center;
    /* height: 1.5rem; */
    display: inline-block;
    margin-right: 5px;
    color: #858383;
}
.icon_hover_span i:hover{
    color: #D3D0D0;
    background-color: #504f4f;
    border-radius: 50%;
}

/* log btn */
#week{
    display: none;
}

.top_nav_logo{
    display: inline-block;
    text-align: center;
    width: 48px;
}
.top_nav_btn:first-child{
    color:  #222222;
    background-color: #e8e8e8;
}
.top_nav_btn{
    letter-spacing: 1px;
    /* margin: 0px 7px; */
    display: inline-block;
    width: 70px;
    border-radius: 5px;
    font-weight: 900;
    color:  #c4c1c1;
    background-color: #222222;
    font-size: 0.75rem;
    min-width:50px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #111111;
}
.login{
    /* display: inline; */
    background-color: #F3D5AD;
    color: #0F4C81;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    width: 70px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
}
.logout{
    background-color: #e8e8e8;
    color: #0F4C81;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    width: 70px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
.header_member{
    display: inline-flex;
    align-items: center;
}
.bulletword{
    margin-right: 12px;
}
/* 左側side(可收) */
main{
    /* position: absolute;
    top: 48px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #c9d8e6; */
}
.side{
    background-color:  #658DC6;
    width: 200px;
    height: 100%;
}
/* 登入頁 */
.visual{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    background-color:#2C2C2C;
    display: flex;
    justify-content: center;
}
.login_board{
    background-color: #1F1F1F;
    width: 320px;
    border-radius: 3px;
    height: 400px;
    box-shadow: 0px 10px 15px #131313da;
}
.login_title{
    color: #e8e8e8;
    letter-spacing: 1px;
    padding: 15px;
    font-weight: 700;
    border-bottom: solid 1px rgb(119, 116, 116);;
}
.login_account{
    margin: 25px;
    border-radius: 8px;
    border: solid 1px rgb(119, 116, 116);
    height: 50px;
    display: flex;
    align-items: center;
}
.login_account:hover{
    border: solid 2px rgb(160, 158, 158);
}
.login_board input{
    background-color: transparent;
    border: 0px;
    width: 100%;
    margin-left: 5px;
    color: #e8e8e8;
}
.login_board input:focus{
    outline: none;
}

.login_btn{
    letter-spacing: 1px;
    margin: 20px 25px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFFFFF;
    opacity: 1;
    color: #202020;
}
.login_btn:hover{
    font-weight: 900;
}
.forget{
    color:#0F4C81;
    /* color: #658DC6; */
    margin: 10px 0px;
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(119, 116, 116);
}
.signUp{
    color:#bebdbd;
    margin: 15px 0px 15px 0px;
    text-align: center;
    font-size: 12px;
    
}
#signup{
    display: none;
}
.signUp_btn{
    letter-spacing: 1px;
    margin: 0px 25px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #525050;
    opacity: 1;
    color: #dad6d6;
    margin-bottom: 15px;
    /* transition: linear .2s; */
}
.signUp_btn:hover{
    font-weight: 900;
    /* font-size: 17px; */
    /* color: #202020; */
    /* background-color:#e8e8e8 ; */
}

/* 主操控頁(月計畫) */

.dashboard_visual{
    display: flex;
    /* height: 100%; */
}

/* 左側邊欄ul */
.sidebar{
    width: 200px;
    /* height: 100%; */
    background-color: #F3D5AD;
    padding: 8px;
    color: #0F4C81;
    display: none;
}
@media(max-width:1150px){
    .sidebar{
        position: fixed;
    }
}
/* 側邊欄內li */
.sidebar_ul{
    border-bottom: solid 0.3px #7c7a7a;
}
.sidebar_li{
    display: flex;
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.sidebar_li:first-child{
    background-color: rgb(156, 155, 155);
}
.sidebar_li:hover{
    background-color: rgb(131, 128, 128);
}
.sidebar_icon{
    text-align: center;
    width: 25px;
    margin-left: 3px;
    margin-right: 20px;
    font-size: 25px;
}
.sidebar_line{
    line-height: 40px;
    margin-left: 6px;
}

/* 主操控畫面(月) */
.dashboard{
    background-color: #2C2C2C;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-bottom: 100px ; */
}
.month_todo_feacture span{
    display: inline-block;
    margin-right: 5px;
}
.month_todo_feacture span{
    color: #e8e8e8;
    opacity: .1;
    cursor: pointer;
}
.month_todo_feacture span:hover{
    color: #e8e8e8;
    opacity: .9;
}
.inner2_board{
    /* border: solid 1px rgb(202, 98, 115); */
    /* padding: 0px 30px; */
}
.inner_board{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left_board{
    width: 50%;
    color: #d3d0d0;
    padding: 30px 55px;
}
.right_board{
    width: 50%;
    color: #d3d0d0;
    padding: 30px 55px;
}
@media(min-width:1000px){
    .inner2_board{
        width: 1000px;
    }
}
@media(max-width: 1000px){
    .inner2_board{
        width: 800px;
    }
    
}
@media(max-width: 800px){
    .inner2_board{
        width: 600px;
    }
    .inner_board{
        flex-wrap: wrap;
    }
    .right_board{
        width: 100%;
    }
    .left_board{
        width: 100%;
    } 
}
@media(max-width: 600px){
    .inner2_board{
        width: 500px;
    }
}
@media(max-width: 500px){
    .inner2_board{
        width: 400px;
    }
    .left_board {
        padding: 20px 25px;
    }
    .top_nav{
        padding: 15px 0px 0px 25px;
    }
    .top_nav_btn{
        margin: 0px 3px;
    }
}
@media(max-width: 400px){
    .inner2_board{
        width: 360px;
    }
    .left_board {
        padding: 20px 25px;
    }
    .right_board {
        padding: 20px 25px;
    }
    .top_nav{
        padding: 15px 0px 0px 25px;
    }
}
@media(min-width:500px){
    .top_nav{
        padding: 25px 0px 0px 55px;
    }
    .top_nav_btn{
        margin: 0px 7px;
    }
}

/* 月曆 */
.monthCalendar{
    position: relative;
    left:145px;
    top:25px;
}

/* 一週 */
.week_log span{
    display: inline-block;
    /* text-align: center; */
    
}
.w_add_bt{
    border-radius: 5px;
    color:#0F4C81;
}
.w_add_bt:hover{
    background-color: #B5C7D3;
    opacity: 0.7;
    cursor: pointer;
    
    text-align: center;
}
.week_day{
    line-height: 2rem;
    border-radius: 5px;
    background-color:  #1F1F1F;
    margin: 3px 0px 10px 0px;
    padding: 5px 5px 5px 7px;
}
.w_add_bt{
    /* display: inline-block; */
    margin-left: -3px;
    color: #1F1F1F;
    flex: 1;
    
}
.week_day_a{
    min-width: 110px;
    display: flex;
}
/* 30天 */
.month_log{

}
.month_log span{
    display: inline-block;
}

.m_date{
    width: 25px;
    text-align: center;
}

.m_day_of_week{
    width: 30px;
    text-align: center;
}

/* 30天格子寬高 */
.month_title{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #7a8188;
    padding-bottom: 15px;
}
.title_month{
    display: inline-block;
    /* width: 200px; */
    height: 40px;
    font-size: 2rem;
    line-height: 40px;
}
.title_monthyear{
    font-size: 14px;
    color: #858383;
}
.title_right{
    display: inline-flex;
    /* align-items: center; */
    height: 40px;
    font-size: 1.5rem;
    line-height: 40px;
}

.title_right i{
    cursor: pointer;
}
.month_todos{
    margin: 15px 0px;
    line-height: 30px; 
}
.month_todo{
    display: flex;
    justify-content: space-between;
}
.month_week{
    /* text-align: center; */
    line-height: 2rem;
    border-radius: 5px;
    background-color:  #0F4C81;
    margin: 3px 0px 10px 0px;
    padding: 5px 0px;
    display: flex;
}
.month_week_a{
    min-width: 110px;
}
.month_week:first-child{
    margin: 10px 0px;
}
.month_day{
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 0px 8px 0px;
}

.month_day_a{
    min-width: 100px;
}

.month_week_title{
    width: 60px;
    text-align: center;
}
/* 週計劃 */
.week_day_title{
    width: 70px;
    margin-left: 3px;
    margin-right: 10px;
}

.m_add_bt{
    width: 30px;
    text-align: center;
    color: #cdd2d6;
    cursor: pointer;
}
/* .m_add_bt:hover{
    color: #455f79;
    cursor: pointer;
} */
.m_bt{
    background-color: #32485c;
    border-radius: 3px;
    padding: 0px 10px; 
    margin-right: 5px;
    margin: 2px 1px 2px 0px;
    cursor: pointer;
}

.bt_type div{
    display: inline-block;
}
.bt_type_board{
    display: flex;
    margin: 10px 0px;
    
}
.bt_type{
    text-align: center;
    width: 65px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    margin-right: 5px;
    background-color: #B5C7D3;
    border-radius: 5px;
    cursor: pointer;
}
.bt_type:hover{
    background-color: #658DC6;
}
.bt_type_text{
    margin-left: 5px;
}
.info{
    margin-top: 10px;
}
*{
    /* border: solid 1px rgb(57, 58, 71); */
}

/* input */
.noScheInput{
    background-color: transparent;
    border: 0px;
    color: #e8e8e8;
}
.checkbox{
    margin-right:10px
}
.addmd{
    margin: 5px 0px;
}
.addmd_input{
    margin-right: 10px;
    background-color: transparent;
    border: 0px;
    color: #e8e8e8;
}

.wbgc{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2C2C2C;
}
.info2{
    width:120px
}

.darktd{
    color:rgb(92, 91, 91)
}
.weektd{
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease;
}
.weektd:hover{
    background-color: rgb(105, 103, 103);
}
.datetd{
    cursor: pointer;
    border-radius: 5px;
    transition: all .5s ease;
}
.datetd:hover{
    background-color:  rgb(105, 103, 103);
}
.showCalen{
    position: absolute;
    top: 280px;
    left: 55%;
    z-index: 999;
}
.showCalenW{
    position: absolute;
    top: 170px;
    left: 40%;
    z-index: 999;
    box-shadow: 0px 0px 10px #181818;
    border-radius: 10px;
}
.showCalenD{
    position: absolute;
    top: 170px;
    left: 70%;
}

/* 首頁 */
.homepage{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.aPart{
    height: 650px;
    display: flex;
    scroll-behavior: smooth;
}

@media(max-width:850px){
    .aPart{
        display: block;
    }
}
@media(min-width:500px){
    .hpIntro{
        width: 470px;
    }
    .hpIntroTitle{
        font-size: 40px;
        font-weight: bolder;
        color: #686767;
    }
}
@media(max-width:500px){
    .hpIntro{
        width: 100%;
        padding: 0px 40px;

    }
    .hpIntroTitle{
        font-size: 30px;
        font-weight: bolder;
        color: #686767;
    }
}
*{
    /* border: solid 1px rgb(231, 187, 187); */
}
.hpIntro{
    
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.hpIntroContent{
    margin: 10px 0px 20px 0px;

    color: #727170;
}
.hpImg{
    padding: 0px 30px;
    width: 400px;
    display: flex;
    align-items: center;
    /* margin: 0px 20px; */
}
.hpImg img{
    width: 100%;
}
.bPart{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 900px;
    background-color: #2C2C2C;
}
.bpartTitle{
    letter-spacing: 2px;
    margin: 25px 0px 95px 0px;
    width: 100%;
    text-align: center;
    color: #e8e8e8;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}